* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.image-container {
    position: relative;
    width: 80%;
    max-width: 600px;
    margin: auto;
    top: 100px;
}

.ellipse {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    transform: translateY(7.5%);
} 

.header-image {
    position: absolute;
    width: 82%;
    top: 0;
    left: 0;
    z-index: 1;
    transform: translateX(15%);
}

.blur {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    transform: translateY(-35%);
}

.travel-text {
    font-size: 500%;
}

/* @media  (min-width: 760px) {
    body {
        font-size: 20px;
    }
} */


